<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="_connection" connectionString="Data Source=srv-sql02;Initial Catalog=ENCARGOS;Persist Security Info=True;User ID=encargos;Password=oficina" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>