@{
    ViewData["Title"] = "Home Page";
}

<head>    
    <!-- Custom styles for this template -->
    <link href="./Heroes · Bootstrap v5.3_files/heroes.css" rel="stylesheet">
 </head>
 <body>
    <main>
            <div class="px-4 pt-3 my-0 text-center ">
                <h1 class="display-6 fw-bold">Fehst Encargos: inovando para um futuro melhor</h1>
                <div class="col-lg-6 mx-auto">
                    <p class="lead mb-4">
                        Bem-vindo a Fehst Encargos! Nós somos uma empresa do Grupo Fehst. Nosso objetivo é ajudar a digitalizar os encargos de oficina. Estamos comprometidos em fornecer um servicço de qualidade e alta eficiencia ao criar encargos,divindo as tarefas em diferentes momentos.
                    </p>
                </div>
                <div class="overflow-hidden" >
                    <div class="container px-5">
                        <img src="../Imagens/maxresdefault.jpg" class="img-fluid border rounded-3 shadow-sg mb-1" alt="Example image" width="700" height="" loading="lazy">
                    </div>
                </div>
            </div>
    </main>
 <script src="./Heroes · Bootstrap v5.3_files/bootstrap.bundle.min.js.descarregar" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>
