@{
    ViewData["Title"] = "Home Page";
}
<html>
<head>    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .d-block w-100 h-auto {
            object-fit:cover;
        }
    </style>
 </head>
 <body >
    <main >
        <div class="px-4 pt-3 my-0 mt-3 text-center">
            
            @if (@TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @TempData["ErrorMessage"]
                </div>
            }  
        </div>
    </main>
</body>
</html>
