@model MoldeModel
@{
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>

    <style>
        input, textarea {
            border: none;
            border-bottom: solid 1px;
            padding: 10px;
            width: 100%
        }

    </style>
</head>
<body>
    <div id="titles">

        <h2>Molde</h2>
    </div>
    <hr />
    <div>
        <div>
            <label for="nrmolde">Nrº Molde</label>     <input type="text" id="nrmolde" value="@Model.nrMolde">
        </div>
        <div>
            <label for="fornecedor">Fornecedor</label>
            <input type="text" id="fornecedor" value="@Model.descricao">
        </div>
        <div>
            <label for="maxshots">MaxShots</label>
            <input type="text" id="maxshots" value="@Model.maxShots">
        </div>
        <div>
            <label for="myTextarea">Descrição</label>
            <input type="text" id="myTextarea" value="@Model.descCompleta">

        </div>

    </div>



    <script>
        const textarea = document.getElementById("myTextarea");

        textarea.addEventListener("input", function () {
            textarea.style.height = "auto";
            textarea.style.height = textarea.scrollHeight + "px";
        });
    </script>
</body>
</html>