@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/jumbotron/">
    <link href="../wwwroot/css/encargo_index.css" rel="stylesheet" type="text/css">
    <link href="./Jumbotron example · Bootstrap v5.3_files/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <style>
        .col-md-3 p-2:hover{
            margin: 40px;
        }
    </style>
</head>
<body>

    <main >
  <div class="bg-light row justify-content-center align-content-center m-5 shadow-lg " style="min-height:70vh; max-width:100%;" >

      <div class="col-md-3 mx-3 my-3 p-2" style="background:linear-gradient(176deg, rgba(11,91,140,0.8044467787114846) 18%, rgba(1,1,10,1) 81%);"  >
        <div class="h-15 p-5 bg-dark rounded-3">
           <h2 class="text-white">Criar <br /> Encargos</h2>
           <p class="text-white">Pode criar os encargos de oficina!</p>
           <a asp-controller="Encargo" asp-action="Create"><button class="btn btn-outline-light" type="button">Criar</button></a>
        </div>
      </div>


            <div class="col-md-3 mx-3 my-3 p-2" style="background:linear-gradient(176deg, rgba(11,91,140,0.8044467787114846) 18%, rgba(1,1,10,1) 81%);">
         <div class="h-15 p-5 bg-dark  rounded-3">
          <h2 class="text-white">Encargos em Execução</h2>
          <p class="text-white">Verificar os encargos em execução</p>
          <a asp-controller="Encargo" asp-action="Info"><button class="btn btn-outline-light" type="button">Ver</button></a>
        </div>
      </div>
  </div>
</main>
</body>
</html>